h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

#start {
    font-size: 40px;
    background-color: #ffffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#firstPage {
    margin-left: 150px;
    
}

p {
    margin: 0px;
    margin-bottom: 0rem;
}


